# .gitignore

# Python / Django
__pycache__/
*.pyc
*.pyo
*.sqlite3
env/
venv/
*.log
*.pot
*.py[cod]
*.mo

# Node / React
node_modules/
frontend/build/
frontend/.env

# Backend env
backend/.env

# macOS
.DS_Store